/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom Styles */

/* Variables */

:root {
  --primary: rgb(211,211,211);
  --secondary: #000;
  --tertiary: rgb(249,63,54);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}



/* Flex */

.flex {
  display: flex;
}

.jcc {
  justify-content: center;
}

.aic {
  align-items: center;
}


/* Clock */

.clock {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 50%;
  border: 1.5rem solid #303030;
}

.clock::before {
  position: absolute;
  content: "";
  width: 359px;
  height: 359px;
  border: .5rem solid #202020;
  border-radius: 50%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.clock::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  background: #59c3ff;
  border-radius: 50%;
  z-index: 1;
}

.center-nut, .center-nut2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.center-nut {
  height: 20px;
  width: 20px;
  background: #262626;
  z-index: 2;
  border-radius: 50%;
}

.center-nut2 {
  height: 14px;
  width: 14px;
  background: red;
  z-index: 6;
  border-radius: 50%;
}


.indicator div {
  position: absolute;
  width: 2px;
  height: 5px;
  background: #404040;
}

.indicator div:nth-child(1) {
  transform: rotate(30deg) translateY(-133px);
}

.indicator div:nth-child(2) {
  transform: rotate(60deg) translateY(-133px);
}

.indicator div:nth-child(3) {
  transform: rotate(90deg) translateY(-133px);
  background: red;
}

.indicator div:nth-child(4) {
  transform: rotate(120deg) translateY(-133px);
}

.indicator div:nth-child(5) {
  transform: rotate(150deg) translateY(-133px);
}

.indicator div:nth-child(6) {
  transform: rotate(180deg) translateY(-133px);
  background: red;
}

.indicator div:nth-child(7) {
  transform: rotate(210deg) translateY(-133px);
}

.indicator div:nth-child(8) {
  transform: rotate(240deg) translateY(-133px);
}

.indicator div:nth-child(9) {
  transform: rotate(270deg) translateY(-133px);
  background: red;
}

.indicator div:nth-child(10) {
  transform: rotate(300deg) translateY(-133px);
}

.indicator div:nth-child(11) {
  transform: rotate(330deg) translateY(-133px);
}

.indicator div:nth-child(12) {
  transform: rotate(360deg) translateY(-133px);
  background: red;
}

.sec-hand {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 5;
  animation: sec-hand 60s liner infinite;
}

.sec-hand::before {
  position: absolute;
  content: "";
  height: 150px;
  width: 3px;
  left: -1px;
  top: -25px;
  background: red;
}

.sec-hand::after {
  position: absolute;
  content: "";
  height: 45px;
  width: 7px;
  left: -3px;
  top: -55px;
  background: red;
}

.min-hand {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 4;
  animation: min-hand 3600s liner infinite;
}

.min-hand::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 1px;
  left: -3px;
  top: -95px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent; 
  border-bottom: 70px solid #303030;
}

.min-hand::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 7px;
  left: -3px;
  top: -25px;
  background: red;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent; 
  border-top: 25px solid #303030;
}

.hr-hand {
  position: absolute;
  height: 1px;
  width: 1px;
  z-index: 3;
  animation: hr-hand 43200s liner infinite;
}

.hr-hand::before {
  position: absolute;
  content: "";
  height: 4px;
  width: 1px;
  left: -3px;
  top: -75px;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent; 
  border-bottom: 55px solid #303030;
}

.hr-hand::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 7px;
  left: -3px;
  top: -25px;
  background: red;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent; 
  border-top: 20px solid #303030;
}